@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&family=Roboto:wght@300&display=swap');


/*Reset browser default values*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
}


h1, h2{
    color: #2A2A93;
    font-family: Permanent Marker, sans-serif;
    letter-spacing: 3px;
}

/*Styling header*/
header{
    display: flex;
    justify-content: space-between;
}

/*Styling logo*/
#logo{
    font-family: Dancing Script, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    margin-left: 40px;

}

header a{
    text-decoration: none;
}

/*Navigation bar and navigation links*/
#menu{
    display: flex;
    flex-direction: row;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 4px solid #2A2A93;
}

/*Image styling*/
#main-image{
    width: 100%;
    height: 750px;
    background: url('../images/9dbeadbd428f4ba9920cdcd3e0d8160b.jpeg') no-repeat center center;
    background-attachment: fixed;
}

/*About us section*/
#about-us{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us p{
    width: 50%;
}


/*Tour section*/

#tour-section{
    width: 80%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#tour-container-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: darkgreen;
}

.tour{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    background-color: crimson;
  
}

#urban{
    background-color: cyan;
}


.destination-link{
    text-decoration: none;
}

.destination-link h2{
    line-height: 250px;
    /*margin-top: 65px;*/
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    
}


/*Contact section*/
#contact-section{
    text-align: center;
    margin: 25px auto;
    height: 500px;
    background-color: #2A2A93;
    display: flex;
    flex-direction: column;
}

#contact-section h1{
    color: white;
    padding-top: 25px;
}

#contact-container-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#form h2{
    margin-bottom: 25px;
}

#form{
    width: 75%;
    max-width: 750px;
    height: 350px;
    margin: 25px 0;
    padding: 15px;
    background-color: white;
    border: 1px solid #2A2A93;
    border-radius: 25px;
    box-shadow: 5px 10px #1d1d66;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

form{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.form-sides{
    width: 50%;
    margin: 0 15px;
    flex: 1;
}

.form-sides:nth-of-type(1),
.form-sidesm:nth-of-type(2) {
  flex-basis: 30%;
}

#right-side{
    border-left: 2px solid #2A2A93;
    padding-left: 25px;
    flex: 37.5%;
}

.text-input{
    border-radius: 5px;
    border-bottom: 1px solid #1d1d66;
    width: 95%;
    padding: 8px 10px;
    margin: 8px 2px;
}

input[type="radio"]{
    margin-left: 10px;
    margin-bottom: 25px;
}

input[type="radio"] #urban
{
    margin-left: 15px;
}

input[type="submit"]{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: lightgreen;
}



/*Trying to get pages to work*/



/*https://stackoverflow.com/questions/53392965/set-two-flex-items-side-by-side-in-a-flexbox-column to flex me to submit apo katw*/

/*

#contact-container-box{
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

#form{
    width: 400px;
    height: 400px;
    border: 1.5px solid white;
}

#form h2{
    color: white;
    margin: 10px auto;
}

form{
    font-size: 20px;
}

.text-input{
    width: 80%;
    line-height: 25px;
    background-color: inherit;
    border-bottom: 1px solid white;
    color: white;
    margin: 10px auto;
}

#submit-btn{
    width: 40px;
    height: 40px;
}*/