@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&family=Roboto:wght@300&display=swap');


/*Reset browser default values*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

/*Styling header, nav common for all the pages*/

body{
    font-family: Roboto, sans-serif;
    color: #2A2A93;
}


h1, h2{
    color: #2A2A93;
    font-family: "Permanent Marker", sans-serif;
    letter-spacing: 3px;
}


/*Styling header*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px rgba(83, 83, 83, 0.6);
}

/*Styling logo*/
#logo{
    font-family: "Dancing Script", sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    margin-left: 40px;

}

header a{
    text-decoration: none;
}

/*Navigation bar and navigation links*/
#menu{
    display: flex;
    flex-direction: row;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 4px solid #2A2A93;
}


/*Styles for index page*/

/*Image styling*/
#main-image{
    width: 100%;
    height: 900px;
    background: url('../images/9dbeadbd428f4ba9920cdcd3e0d8160b.jpeg') no-repeat center center;
    background-attachment: fixed;
}

/*About us section*/
#about-us{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    text-align: center;
}

#about-us h3{
    width: 80%;
}

#about-us h1{
    margin-bottom: 50px;
}


/*Tour section*/

#tour-section{
    width: 80%;
    height: 350px;
    margin: 25px auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


#tour-container-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#tour-section h1{
    margin-bottom: 50px;
}

.tour{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center; 
}

#urban{
    background: url('../images/Athens_0_37596541.jpg') no-repeat center center;
}

#landscape{
    background: url('../images/meteora-monasteries-photo.jpg') no-repeat center center;
}

#island{
    background: url('../images/b5c83a7df5be7ed772aead5c1267f18f.jpg') no-repeat center center;
}

.image-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
}

.image-link h2{
    letter-spacing: 4px;
}



.image-link:hover{
    text-decoration: underline #2A2A93;
}

/*Contact section*/
#contact-section{
    text-align: center;
    margin: 25px auto;
    height: 500px;
    background-color: #2A2A93;
    display: flex;
    flex-direction: column;
}

#contact-section h1{
    color: white;
    padding-top: 25px;
}

#contact-container-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#form h2{
    margin-bottom: 25px;
}

#form{
    width: 75%;
    max-width: 750px;
    height: 350px;
    margin: 25px 0;
    padding: 15px;
    background-color: white;
    border: 1px solid #2A2A93;
    border-radius: 25px;
    box-shadow: 5px 10px #1d1d66;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.form-sides{
    width: 50%;
    margin: 0 15px;
    flex: 1;
}

.form-sides:nth-of-type(1),
.form-sidesm:nth-of-type(2) {
  flex-basis: 30%;
}

#right-side{
    border-left: 2px solid #2A2A93;
    padding-left: 25px;
    flex: 37.5%;
}

.text-input{
    border-radius: 5px;
    border-bottom: 1px solid #1d1d66;
    width: 95%;
    padding: 8px 10px;
    margin: 8px 2px;
}

input{
    outline: none;
}

input[type="radio"]{
    margin-left: 10px;
    margin-bottom: 25px;
}
/*Check without the urban #*/
input[type="radio"] #urban
{
    margin-left: 15px;
}

textarea{
    resize: none;
}

textarea:focus{
    outline: none;
}

input[type="submit"]{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    margin-top: 25px;
    background-color: #2A2A93;
    color: white;
    cursor: pointer;
}

#agency-info{
    width: 250px;
    height: 225px;
    background-color: white;
    border: 1px solid #2A2A93;
    border-radius: 25px;
    box-shadow: 5px 10px #1d1d66;
    margin: 25px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h3{
    margin: 8px 4px;
}
 /*Styling contact icons*/
.fas{
    color: #2A2A93;
    margin: 8px 4px;
}

/*Styles for destination tour's page*/
#main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#main-text h2{
    margin-top: 125px;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

#main-text h3{
    width: 75%;
    text-align: center;
    margin: 25px auto;
}

/*Styling image*/
#sample-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.img-thumb{
    width: 22.5%;
    height: 360px;
    border: 2px solid white;
}

/*Styling footer common for all the pages*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Styling social media icons*/
.fab{
    font-size: 30px;
    margin-bottom: 25px;
    color: #2A2A93;
}

footer a:visited{
    color: #2A2A93;
}


/*Media queries*/

@media screen and (max-width: 1440px){ 
    /*Height restyling for the images at destination's page*/
    .img-thumb{
        height: 260px;
    }
}

@media screen and (max-width: 1024px){
    /*Margin restyling for the about us section*/
    #about-us{
        margin: 70px auto;
    }

    /*restyling for the main image*/
    #main-image{
        background-attachment: fixed;
    }

    /*Height restyling for the images at destination's page*/
    .img-thumb{
        height: 200px;
    }

    /*Width restyling for form and spacing for radio buttons and sbmit button*/
    #form{
        width: 65%;
    }

    #radio-area{
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main-label{
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="radio"] 
    {
        margin: 5px;
    }

    textarea{
        height: 80px;
    }

    input[type="submit"]{
        margin-top: 15px;
    }
}

/*Styling for tablets*/
@media screen and (max-width: 768px){
    /*Styling about us section*/
    #about-us{
        margin: 100px auto;
    }

    #about-us h1{
        margin-bottom: 25px;
    }
    /*Styling tour section*/
    #tour-section{
        width: 90%;
    }

    .tour{
        width: 200px;
        height: 200px;
    }

    .image-link{
        height: 250px;
    }

    /*Styling contact section*/
    #contact-section{
        height: 760px;
    }
    #contact-container-box{
        flex-direction: column;
        align-items: center;
    }

    #form{
        width: 90%;
    }


    /*Height restyling for the images at destination's page*/
    .img-thumb{
        height: 150px;
    }
}

/*Styling for iphone*/
@media screen and (max-width: 414px){
    /*Styling header and navigation menu*/
    header{
        flex-direction: column;
        align-items: center;
    }

    #menu li{
        margin: 0 20px;
    }

    #main-text h2{
        margin-top: 160px;
    }

    /*Styling about us section*/
    #about-us{
        margin: 280px auto 35px auto;
    }

    #about-us h1{
        margin-bottom: 25px;
    }

    /*Styling tour section*/
    #tour-section{
        margin-top: 150px;
        height: 100%;
    }
    #tour-section h1{
        margin-top: 150px;
    }

    #tour-container-box{
        flex-direction: column;
        justify-content: space-around;
    }

    .tour{
        margin: 45px auto;
    }

    /*Styling contact section*/

    #contact-section{
        height: 1000px;
    }

    #contact-container-box{
        flex-direction: column;
    }

    form{
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    #form{
        flex-direction: column;
        align-items: center;
        height: 600px;
    }

    .form-sides{
        width: 80%;
        margin: 5px auto;
    }

    #right-side{
        border: none;
        padding-left: 0;
    }

    input[type="submit"]{
        width: 80%
    }


    /*Height restyling for the images at destination's page*/
    .img-thumb{
        height: 100px;
    }


}



/*https://stackoverflow.com/questions/53392965/set-two-flex-items-side-by-side-in-a-flexbox-column to flex me to submit apo katw*/

