@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&family=Roboto:wght@300&display=swap');


/*Reset browser default values*/
*{
    margin: 0;
    padding: 0;
    border: none;
}




h1, h2{
    color: #2A2A93;
    font-family: Permanent Marker, sans-serif;
}

/*Styling header*/
header{
    display: flex;
    justify-content: space-between;
}

/*Styling logo*/
#logo{
    font-family: Dancing Script, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;

}

header a{
    text-decoration: none;
}

/*Navigation bar and navigation links*/
#menu{
    display: flex;
    flex-direction: row;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 4px solid red;
}

/*Image styling*/
#main-image{
    width: 100%;
    height: 750px;
    background: url('../images/9dbeadbd428f4ba9920cdcd3e0d8160b.jpeg') no-repeat center center;
}